.featured-button{
	margin-top: 30%;
	margin-left:auto;
	margin-right: auto;
}

#homepage-welcome{
	margin-bottom: 5%;
	padding: 10% 5% 5% 10%;
	background-image: url(../img/homepagebg.png);
	}

#flashContent{
	margin: 10% 0% 0% 10%;
}

#homepage-hero .cowhen img {
    max-width: 75%;
    position: relative;
    right: 100px;
    top: 30px; }
    @media only screen and (max-width: 40em) {
      #homepage-hero .cowhen img {
        width: 100%;
        position: relative;
        right: 0;
        bottom: 0px;
        top: 0px;
        left: 120px; } }
    @media only screen and (min-width:40.063em) and (max-width:64em) {
      #homepage-hero .cowhen img {
        width: 100%;
        position: absolute;
        right: 0;
        bottom: 0px; } }

